.wp-block {} /*  (.wp-block {} ensures MT files load in Gutenberg editor) */


/*= Eventos =================== */

/** Eventos >> Fc view harness **/
#page-16 .fc-view-harness {
	color: #0B0E13 !important;
	background-color: #0B0E13 !important;
}

/** Eventos >> Space top **/
.wp-child-theme-bame-child .space-top {
	color: #0B0E13 !important;
	background-color: #0B0E13 !important;
}

/** Eventos >> Col lg 12 **/
.row .col-lg-12 {
	color: #0B0E13 !important;
	background-color: #0B0E13 !important;
}

